.cart-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 380px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
  font-weight: 700;
}